.header-sobre{
    height: 300px;
}

.center{
    height: 610px;
}
.center-sobre{
    
    height: 560px;
    margin: 0 200px;
}

.left-center-sobre{
    width: 40%;
    height: 500px;
    float: left;
    background-image: url(..//image/img-consultoria.jpg);
    background-size: cover;
}

.right-center-sobre{
    height: 500px;
    width: 60%;
    background-color: rgb(218, 218, 218);
    float: right;
}


.box-right{
    width: 490px;
    margin-top: 30px;
    margin-left: 40px;
}

.box-right h5 {
    color: rgb(208, 99, 60);
    font-size: 25px;

}

.box-right p{
    font-size: 20px;
    text-align: justify;
}

.left-center-sobre2{
    height: 500px;
    width: 55%;
     background-color: rgb(218, 218, 218);
    float: left;
    
}

.box-left{
    width: 490px;
    margin-top: 70px;
    margin-left: 10px;
    text-align: right;
}

.left-center-sobre2{
    height: 400px;
    width: 100%;
    background-image: url(..//image/consultoria-plan.jpg);
    background-size: cover;
    
}