.center{
    height: 600px;
}

.container-login{
    margin-left: 300px;
    margin-right: 300px;
   
}

.box-login{
   
    height: 500px;
    background-color: rgb(228, 228, 228);
    box-shadow: rgba(237, 237, 237, 0.802) 10px 10px;
}

.left-box-login{
    float: left;
    width: 250px;
    height: 100%;
    background-image: url(..//image/img-login.jpg);
    background-size: cover;
}

.right-box-login{
    width: 100%;
    height: 100%;
    text-align: center;
}

.right-box-login > .form-login{
    padding-top: 60px;
}

.right-box-login > .form-registrar{
    padding-top: 30px;
}

.ipt_padrao{
    margin-top: 10px;
    height: 40px;
    width: 300px;
    outline: 0;
    padding-left: 10px;
    border: 1px solid;
}

.ipt_padrao:hover{
    border: 1px solid rgb(208, 99, 60);;
}

.btn_entrar{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background-color: rgb(208, 99, 60);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.btn_entrar:hover{
    background-color: rgb(170, 82, 50);
}

.forgot{
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
}

